.user_block{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-left: 48px;
}

.user_block_item{
    display: flex;
    align-items: center;
    margin: 0px 8px;
}

.user_img_block{
    display: flex;
    height: 60px;
    width: 60px;
    border-radius: 100%;
}

.logo{
    width: 50px;
    height: 50px;
    border-radius: 12px;
    background: transparent;
}

.img_user{
    border-radius: 50%;
}

.link{
    text-decoration: none;
    color: black;
}

@media (max-width: 992px) {
    .user_block{
        flex-direction: column;
        margin: 0;
    }

    .user_block_item{
        flex-direction: column;
        align-items: flex-start;
    }
}